/* Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
 
#include <zephyr/dt-bindings/gpio/realtek-rtl87x2g-gpio.h>

&flash {
	partitions {
		/delete-node/ partition@2d000;
		/delete-node/ partition@fc000;

		app_partition: partition@2d000 {
			label = "app-image";
			reg = <0x2D000 DT_SIZE_K(812)>;
		};
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0xF8000 DT_SIZE_K(32)>;
		};
	};
};


&uart2 {
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

/ {
    resources {
        compatible = "test-gpio-basic-api";
        out-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
        in-gpios = <&gpiob 1 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
    };
};

&dma0 {
    status = "okay";
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
/* dma is optional
	dmas = <&dma0 6 17 0xa>, <&dma0 5 16 0x10021>;
	dma-names = "rx", "tx";
 */
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <RTL87X2G_PSEL(SPI0_CLK_MASTER, P4_0,DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SPI0_MO_MASTER, P4_1,DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SPI0_MI_MASTER, P4_2,DIR_OUT, DRV_HIGH, PULL_UP)>;
		};
	};
};

/
{

dummy_display: dummy_display {
	compatible = "bee4,st7701s";
	height = <100>;
	width = <100>;
	status = "okay";

};
};




